/* Reset body margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

i {
  cursor: pointer;
}

/* Login form inner content */
#inner {
  width: 450px;
  margin-top: 2rem;
  padding: 1rem;
  border: 1px solid blanchedalmond;
  border-radius: 5px;
  animation: fadeInUp 1.5s ease-out;
}

.outer {
  height: 700px;
  width: 100%;
  background-image: url("../images/undraw_online_discussion_5wgl.svg");
  background-size: 100% 100%;
  background-position: 50vh;
}

.signup-outer {
  height: 650px;
  width: 100%;
  background-image: url("../images/customer_service_knowledge_base-Document360-1200x600.jpg");
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: 0vh;
}

.signin-inner {
  margin-right: 15%;
}

.parentdiv {
  width: 100%;
  height: 800px;
}

/* Fade in animation for form content */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Style for form inputs */
input.form-control {
  font-size: 1em;
  padding: 10px;
  border-radius: 3px;
  border: 0.5px solid #02111d88;
  transition: all 0.3s ease;
}

/* animation after input selection */
input.form-control:focus {
  outline: none;
  border: 1px solid #3498db;
}

/* Text under email input */
.form-text {
  font-size: 0.8em;
  color: #a1a9af;
  margin-top: 5px;
}

/* Style for Submit button */
button.btn {
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #000000c0;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button.btn:hover {
  background-color: #2980b9;
  transform: translateY(-3px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

button.btn:active {
  transform: translateY(0);
}

.loginbtn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: purple;
}

#login {
  border: 1px solid black;
  text-align: center;
  border-radius: 3px;
}

#login:first-child {
  background-color: blue;
  color: #fff;
}

#login:last-child {
  background-color: red;
  color: #fff;
}

/* Styling the container */
.input-container {
  position: relative;
  margin: 20px 0;
}

/* Styling the label as a placeholder */
.input-container label {
  position: absolute;
  top: 0;
  left: 12px;
  color: black;
  font-size: 16px;
  pointer-events: none;
  background-color: white;
  padding: 0 4px;
  transform: translateY(50%); /* Start label within input field */
  transition: 0.3s ease all; /* Animation on focus */
}

/* Animation when the input field & textarea field is focused or not empty */
.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label,
.input-container textarea:focus ~ label,
.input-container textarea:not(:placeholder-shown) ~ label {
  top: -1px; /* Align with top border */
  font-size: 12px;
  color: purple;
  transform: translateY(-50%); /* Move label onto border */
}

.button {
  width: 100%;
  /* background-color: purple; */
  background-color: rgb(202, 24, 202);
  color: white;
  border-radius: 3px;
  height: max-content;
  font-family: emoji;
  font-size: larger;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.logoutbtn {
  background-color: white;
  color: purple;
  border: 2px solid purple;
  border-radius: 3px;
  width: 90px;
  padding: 2px;
  font-family: auto;
  font-size: large;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logoutbtn:hover {
  background-color: rgb(202, 24, 202);
  color: white;
  transform: translateY(-3px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.logoutbtn:active {
  transform: translateY(0);
}

/* Add Note CSS */
.addnotecontainer {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Optional styling for focused textarea */
.input-container textarea:focus {
  border-color: purple;
}

/* Responsive Design  */
/* @media (max-width: 768px) {
  #loginForm {
    padding: 20px;
    max-width: 100%;
  }
  #login {
    font-size: x-small;
  }
  
  .signup-outer {
    background-image: none;
  }

  .signin-inner {
    margin: 0%;
  }
}

@media (max-width: 480px) {
  .form-label h5 {
    font-size: 1em;
  }
  .outer {
    background-size: auto;
  }
  
  .form-control {
    padding: 10px;
  }
  
  button.btn {
    font-size: 1em;
  }
} */

.search-box {
  font-size: 1em;
  padding: 10px;
  border-radius: 3px;
  border: 0.5px solid #02111d88;
  transition: all 0.3s ease;
  padding-left: 30px;
  z-index: 1;
  margin-right: auto;
  width: 100%;
}
.search-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 7px;
  z-index: 2;
  top: 16px;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .signup-outer {
    background-size: auto;
    background-position: top left;
  }

  .signin-inner {
    margin-right: 5%;
  }
}

@media (max-width: 768px) {
  #inner {
    width: 100%; /* Full width */
  }

  .outer {
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: 390px -39px;
  }

  .signup-outer {
    background-image: none; /* Hide on smaller screens */
  }

  .signin-inner {
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  #inner {
    padding: 1rem;
  }

  #login {
    font-size: 11px;
  }

  .form-label h5 {
    font-size: 1em;
  }

  .form-control {
    padding: 8px;
  }

  button.btn {
    font-size: 0.9em;
  }
}
